
.box {

    background-color: rgba(126, 114, 91,0.1);
    position: absolute;
    right: 0;
    top: 600px;
    left: 1100px;
    padding: 50px 30px 70px 50px;
    z-index: 1;
}


.gallery_controls {
    display:flex;
    justify-content: center;
    margin: 25px 0;
}
.gallery_controls button {
    background-color: transparent;
    border: 0;
    cursor: pointer;
    font-size: 10px;
    margin: 0 10px;
    padding: 0 10px;
    text-transform: capitalize;
}

.gallery_controls_button:focus {
    outline: none
}

.gallery_controls_previous {
    position: relative;
}

.gallery_controls_previous::before {
    border: solid #000;
    border-width:  0 3px 3px 0;
    content: "";
    display: inline-block;
    height: 3px;
    left: -30px;
    padding: 5px;
    position: absolute;
    top: 45%;
    transform: rotate(135deg) translateY(50%);
    transition: left 0.15s ease-in-out;
    width: 2px;
}

.gallery_controls_previous:hover::before {
    left: -40px;
}



.gallery_controls_next {
    position: relative;
}

.gallery_controls_next::before {
    border: solid #000;
    border-width:  0 3px 3px 0;
    content: "";
    display: inline-block;
    height: 5px;
    right: -30px;
    padding: 5px;
    position: absolute;
    top: 45;
    transform: rotate(-45deg) translateY(-50%);
    transition: right 0.15s ease-in-out;
    width: 2px;
}

.gallery_controls_next:hover::before {
    right: -40px;
}


.gallery_nav {
    bottom: -15px;
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    position: absolute;
    width: 100%;
}

