html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Poppins',sans-serif;
}
h1, h2 {
  font-family:Poppins 200;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

img {
  max-width: 100%;
  height: auto;
}

h1,
h2,
p,
ul {
  margin: 0;
}


/* Scroll Animation */
body {
scroll-snap-type: y mandatory;
overflow-y: scroll;
}

section {
  scroll-snap-align: end;
}